<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav (keydown.scape)="close()">
    <button mat-button color="primary" (click)="close()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <p>na atividade rapaziada</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Dashboard</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <p>Conteudo</p>
  </mat-sidenav-content>

</mat-sidenav-container>